<%= form_for(@bucket_item) do |f| %>
  <% if @bucket_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bucket_item.errors.count, "error") %> prohibited this bucket_item from being saved:</h2>

      <ul>
      <% @bucket_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p> you are a potato</p>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bucket_item_type %><br>
    <%= f.text_field :bucket_item_type %>
  </div>
  <div class="field">
    <%= f.label :bucket %><br>
    <%= f.text_field :bucket %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
