<p>
  <strong>Name:</strong>
  <%= @bucket_item.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bucket_item.bucket_item_type %>
</p>

<p>
  <strong>Bucket:</strong>
  <%= @bucket_item.bucket %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @bucket_item.notes %>
</p>

<%= link_to 'Edit', edit_bucket_item_path(@bucket_item) %> |
<%= link_to 'Back', bucket_items_path %>
